<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title >E-Tech</title>

  </head>
  <body>
 

  <!-- https://wallpapercave.com/wp/wp2844887.jpg   color - rgb(205, 215, 243)-->
  <body style="background-color: #328f8a;
  background-image: linear-gradient(45deg,#38a19c,#08ac4b);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;" >
     {{>navbar}}
    <div class="center" style="margin-right: 25%; margin-left: 25%; text-align: center; background-image: url(https://th.bing.com/th/id/OIP.qYG0ij76GK_s1sDB1qvH0wHaCp?pid=ImgDet&rs=1);">
      <!--  <p1 style="font-size:3vw; color:#ffffff;"><strong> DATA CHART REPRESENTATION </strong> </p1>   -->
        
</div>
<div style="background-image:url(https://images.pexels.com/photos/5763171/pexels-photo-5763171.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);  background-position: center; 
  background-repeat: no-repeat; width: 100%;
  height: 100%;
  border:#010101;
  
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 100%;    padding:10vw ; position:relative;" class="card text-center">
<!-- <iframe style="background: transparent;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="250" height="150" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=62440557-aa2f-4e79-82c6-855e2dfac0a1&maxDataAge=300&theme=dark&autoRefresh=true"></iframe> -->

<div  class="row row-cols-1 row-cols-md-3 g-3">

 <div style="background: transparent" class="col">
    
     <iframe style="background: rgba(255, 255, 255, 0.6); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="160" height="240" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=62440557-aa2f-4e79-82c6-855e2dfac0a1&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
  </div>
<div style="background: transparent" class="col">
    
      <iframe style="background: rgba(255, 255, 255, 0.6);border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="160" height="240" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=6244b088-80f8-49a0-8d82-47d49cdc549f&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
  </div>
  <div style="background: transparent" class="col">
    
      <iframe style="background:rgba(255, 255, 255, 0.6) ;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="160" height="240" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=6244b19d-a9d6-42ed-89fe-44308092646f&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
  </div>
 <div style="background: transparent" class="col">
    
     <iframe style="background: rgba(255, 255, 255, 0.6);border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="160" height="240" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=6244b1f7-ab99-4c0b-8bfd-fb6b4ee852a4&maxDataAge=300&theme=light&autoRefresh=true"></iframe>

  </div>
  <div style="background: transparent" class="col">
    
     <iframe style="background: rgba(255, 255, 255, 0.6);border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="160" height="240" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=6244b29c-820e-48bb-8434-62904cba5bbf&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
  </div>
  <div style="background: transparent" class="col">
    
    <iframe style="background: rgba(255, 255, 255, 0.6);border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="160" height="240" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=6244b2c4-a9d6-43ce-8f67-44308092f8f7&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
  </div>
</div>
</div>




<body>
  <center>
<table style="font-size:larger ; font-weight: 500; color:rgb(33, 33, 33); margin-top:3%" class="table-primary">
  <tr style="background: #c8c9c8;">
    <th>AQI Category</th>
    <th>PM 2.5 (ug/m3)</th>
    <th>PM 10 (ug/m3)</th>
    <th>Health Impact</th>
  </tr>
  <tr style="background: #46b264;">
    <td>Good(0-50) </td>
    <td>0-30</td>
    <td>0-50</td>
    <td>Minimal</td>
  </tr>
  <tr style="background: #0fed4e;">
    <td>Satisfactory (51-100)</td>
    <td>31-60</td>
    <td>51-100</td>
    <td>Minor Breathing discomfort to sensitive people.</td>
  </tr>
  <tr style="background: #e9e658;">
    <td>Moderately polluted (101-200)</td>
    <td>61-90</td>
    <td>101-250</td>
    <td>Breathing discomfort to asthma patents, elderly and children.</td>
  </tr>
  <tr style="background: #e67925;">
    <td>Poor (201-300)</td>
    <td>91-120</td>
    <td>251-350</td>
    <td>Breathing discomfort to all</td>
  </tr>
  <tr style="background: #ef3939;">
   <td>Very poor (301-400)</td> 
   <td>121-250</td>
   <td>250+</td>
   <td>Respiratory illness on prolonged exposure.</td>
  </tr>
  <tr style="background: #bf0000;">
    <td>Severe (401-500)</td>
    <td>351-430</td>
    <td>430+</td>
    <td>Health impact even on light physical work. Serious impact on people with heart/lung disease.</td>
  </tr>
</table>
</center>
</body>
<!---
<div >
  <center>
  <p>  <img src="https://airveda.com/resources/images/pm_levels.png" alt=""> </p>
  </center>
</div> -->
<body>
  <center>
    <div style="margin-top: 1%;">
      <ul>
         <!--
        <iframe style="background: #229f69;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=6248600f-dca7-4f5e-8f46-b36720824404&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
        <iframe style="background: #229f69;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=62486856-0985-4b28-8066-b4309215de5b&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
        -->

        <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=6248600f-dca7-4f5e-8f46-b36720824404&maxDataAge=300&theme=dark&autoRefresh=true"></iframe>
        <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=62486856-0985-4b28-8066-b4309215de5b&maxDataAge=300&theme=dark&autoRefresh=true"></iframe>
      
      </ul>
    </div>
  </center>
</body>

<!--
<div style="background:transparent; color:#FFFFFF" class="card text-center">

  <div class="card-body">
    <h5 class="card-title">PM1 Air Particals</h5>
    <p class="card-text">PM1 – particles < 1 μm in size. Examples: dust, combustion particles*, bacteria and viruse </p>
    <p>PM is a mixture with physical and chemical characteristics that vary by location. Its sources are man-made or natural. Air pollution therefore varies from place to place. Spending a day on the streets of Beijing, for example, will have the same negative effect on your respiratory tract as staying 30 days in Paris. It should be noted, however, that people will react differently to poor quality air, depending on their sensitivity.</p>
    <a href="https://www.camfil.com/en/insights/standard-and-regulations/pm1-is-most-harmful#:~:text=The%20most%20typical%20particulates%20in%20the%20air%20are%3A,size.%20Examples%3A%20dust%2C%20combustion%20particles%2A%2C%20bacteria%20and%20viruses." class="btn btn-secondary">More Details</a>
  </div>
 <div class="card-body">
    <h5 class="card-title">PM2.5 Air Particals</h5>
    <p class="card-text">PM2.5 refers to atmospheric particulate matter (PM) that have a diameter of less than 2.5 micrometers, which is about 3% the diameter of a human hair. </p>
    <p>PM is a mixture with physical and chemical characteristics that vary by location. Its sources are man-made or natural. Air pollution therefore varies from place to place. Spending a day on the streets of Beijing, for example, will have the same negative effect on your respiratory tract as staying 30 days in Paris. It should be noted, however, that people will react differently to poor quality air, depending on their sensitivity.</p>
    <a href="https://www.camfil.com/en/insights/standard-and-regulations/pm1-is-most-harmful#:~:text=The%20most%20typical%20particulates%20in%20the%20air%20are%3A,size.%20Examples%3A%20dust%2C%20combustion%20particles%2A%2C%20bacteria%20and%20viruses." class="btn btn-secondary">More Details</a>
  </div>
</div>
-->
<div class="container" style="background-color: rgba(255, 255, 255, 0.4) ;">

  <div class="row">
  </div>
  <center>
  <div class="row">
    
    <div class="col-6 col-md-4">
      <div class="card-body">
    <h5 class="card-title">PM1 Air Particals</h5>
    <p class="card-text">PM1 – particles < 1 μm in size. Examples: dust, combustion particles*, bacteria and viruse </p>
    <p>PM is a mixture with physical and chemical characteristics that vary by location. Its sources are man-made or natural. Air pollution therefore varies from place to place. Spending a day on the streets of Beijing, for example, will have the same negative effect on your respiratory tract as staying 30 days in Paris. It should be noted, however, that people will react differently to poor quality air, depending on their sensitivity.</p>
    <a href="https://www.camfil.com/en/insights/standard-and-regulations/pm1-is-most-harmful#:~:text=The%20most%20typical%20particulates%20in%20the%20air%20are%3A,size.%20Examples%3A%20dust%2C%20combustion%20particles%2A%2C%20bacteria%20and%20viruses." class="btn btn-secondary">More Details</a>
  </div>
    </div>
    <div class="col-6 col-md-4">
       <div class="card-body">
    <h5 class="card-title">PM2.5 Air Particals</h5>
    <p class="card-text">PM2.5 – fine inhalable particles, with diameters that are generally 2.5 micrometers and smaller </p>
    <p>Particulate Matter (PM) is a mixture of solid and liquid particles that are suspended in the air. Coarse particles have a diameter of 2.5 micrometres to 10 micrometres (about 25 to 100 times thinner than a human hair), are relatively heavier and thus tend to settle. Dust, spores and pollen are some examples. PM2.5 refers to particles that have diameter less than 2.5 micrometres (more than 100 times thinner than a human hair) and remain suspended for longer.</p>
    <a href="https://www.camfil.com/en/insights/standard-and-regulations/pm1-is-most-harmful#:~:text=The%20most%20typical%20particulates%20in%20the%20air%20are%3A,size.%20Examples%3A%20dust%2C%20combustion%20particles%2A%2C%20bacteria%20and%20viruses." class="btn btn-secondary">More Details</a>
  </div>
    </div>
    <div class="col-6 col-md-4">
             <div class="card-body">
    <h5 class="card-title">PM10 Air Particals</h5>
    <p class="card-text">PM10 –PM10 is particulate matter 10 micrometers or less in diameter, PM2.5 is particulate matter 2.5 micrometers or less in diameter. </p>
    <p> PM 2.5 is generally described as fine particles. By way of comparison, a human hair is about 100 micrometres, so roughly 40 fine particles could be placed on its width.Particles of any substances that are less than 10 or 2.5 micrometres diameter. Particles in this size range make up a large proportion of dust that can be drawn deep into the lungs. Larger particles tend to be trapped in the nose, mouth or throat.</p>
    <a href="https://www.camfil.com/en/insights/standard-and-regulations/pm1-is-most-harmful#:~:text=The%20most%20typical%20particulates%20in%20the%20air%20are%3A,size.%20Examples%3A%20dust%2C%20combustion%20particles%2A%2C%20bacteria%20and%20viruses." class="btn btn-secondary">More Details</a>
  </div>
    </div>
    </div>
  </div>
    </center>
  </div>

</div>

<body>
  <center>
    <div style="margin-top: 1%;">
      <ul>
        <!--
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=62458df4-a9d6-4a62-8c4b-443080fcfe01&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=62459363-80f8-4f51-8813-47d49c4cc418&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
      -->
      
      <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=62458df4-a9d6-4a62-8c4b-443080fcfe01&maxDataAge=600&theme=dark&autoRefresh=true"></iframe>
      
<iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=62459363-80f8-4f51-8813-47d49c4cc418&maxDataAge=600&theme=dark&autoRefresh=true"></iframe>
      
      </ul>
    </div>
  </center>
</body>


  <footer>
     {{>footer}}
  </footer>
       
        
      


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
     
  </body>
</html>