<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="450" height="350" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=622c694f-25fc-47ce-8a0b-8423ece0b7af&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
    </div>
    <div class="col">
    <iframe style="background: rgba(0, 0, 0, 0.2);border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="450" height="350" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=622c6a31-4266-4100-8bc8-eb9a26ef0a9d&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </div>
  </div>
</div>
 <div class="container">
  <div class="row">
    <div class="col">
    <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="450" height="350" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=622c6abb-7256-4ce1-8f31-3ae17913c165&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
    </div>
    <div class="col">
     <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="450" height="350" src="https://charts.mongodb.com/charts-project-air-database-gfdps/embed/charts?id=622c6ba4-f865-4c2b-86e4-66f75073de2d&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
    </div>
  </div>
</div>
