<div>
    
  <style>
    

 
.our-team{
    
    border-radius: 25px;
    text-align: center;
    padding: 20px 15px 30px;
    background: rgba(255, 255, 255, 0.2);
    
    margin-bottom: 10%;
    margin: 10%;
    

}
.our-team .pic{
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background: #000000;
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title{
    font-weight: 600;
    color: #011c06;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    margin: 0 0 7px 0;
}
.our-team .post{
    color: #020b01;
    text-transform: capitalize;
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}

  </style>
    <div class="container">
        <div class="row">
            
                <!-- team section-->
                 <!--1st member-->
<div class="col-6 col-md-4">
  <div class="our-team">
      <div class="pic">
          <img src="https://media-exp2.licdn.com/dms/image/C4D03AQHZrNwhatKBKg/profile-displayphoto-shrink_400_400/0/1643212367458?e=1663200000&v=beta&t=Lka42ENSlB7B8JR0ZY0JkUGLBhTwQUwtOqpZSqtmdz0">
      </div>
      <h3 class="title">Divmaan Yadav</h3>
      <span class="post">Team Leader</span>

      <!--social icon-->

  </div>
</div>

<!--2nd member-->

<div class="col-6 col-md-4">
  <div class="our-team">
      <div class="pic">
          <img src="https://media-exp2.licdn.com/dms/image/D4D35AQEK9gyHhEPCpw/profile-framedphoto-shrink_400_400/0/1654369235596?e=1658473200&v=beta&t=OHXIYC0UcvIMRIiVl0yyF5cDfntnz_dmncWt8-Djuf0">
      </div>
      <h3 class="title">Ganesh Sonar</h3>
      <span class="post">Team Member</span>

       <!--social Icon-->

  </div>
</div>

<!--3rd member-->

<div class="col-6 col-md-4">
  <div class="our-team">
      <div class="pic">
          <img src="https://media-exp2.licdn.com/dms/image/C4D03AQFVqgWH0IhSKA/profile-displayphoto-shrink_400_400/0/1647076401333?e=1663200000&v=beta&t=rRyOZNOWxaUnx7ug-ro1IEzqReYBeNCXB1QC4rqknr0">
      </div>
      <h3 class="title">Rohan Yadav</h3>
      <span class="post">Team Member</span>
      
       <!--social icon-->

  </div>
</div>

<!--4th member

<div class="col-6 col-md-4">
  <div class="our-team">
      <div class="pic">
          <img src="https://media-exp1.licdn.com/dms/image/C5603AQF0KZpOM11d8A/profile-displayphoto-shrink_400_400/0/1643358531568?e=1652918400&v=beta&t=CtSZ5AV0DX9cKQRbu7kPyiDOdc3aQ17lKgSo4KgwS9w">
      </div>
      <h3 class="title">Janvhi Shinde</h3>
      <span class="post">Team Member</span>

       <!--social icon-

  </div>
</div>
<div  class="col-6 col-md-4">
  <div class="our-team">
      <div class="pic">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGROU72H5ThmQ/profile-displayphoto-shrink_400_400/0/1647075476639?e=1652313600&v=beta&t=Ieojogux__2Z8kv_NL-nagPgldjQyvzs2muMYaOAC40">
      </div>
      <h3 class="title">Pranay Tare</h3>
      <span class="post">Team Member</span>
      
       <!--social icon-

  </div>
</div>
<div class="col-6 col-md-4">
  <div class="our-team">
      <div class="pic">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEd2pp6g8ubQw/profile-displayphoto-shrink_400_400/0/1647075200518?e=1652313600&v=beta&t=FJ26I21xxOuwfurWDlHPi_uNq_bS7hljeVU4-AXufoA">
      </div>
      <h3 class="title">Kuldeep Singh</h3>
      <span class="post">Team Member</span>

       <!--social icon-->

  </div>
</div>
</div>

